<div class="container">
    <div class="row">
        <div class="col-lg-12 loggedUser">
            <h4> Logged in as user: <span style="color:darkred"><b>{{currentUser}}</b></span></h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1">
            <img src="../Images/web_logo.png" style="width:100px;height:90px;text-align:left;" />
        </div>
        <div class="col-lg-12 location" />
    </div>
    <div class="row">
        <div class="col-lg-12 fileUpload">
            <a style="margin-left:10px;" href="#/file-list" class=" btn-info btn-lg">Ad List </a>
            <a style="margin-left:10px;" href="#/file-upload" class="btn-info btn-lg">Upload files </a>
            <a style="margin-left:10px;" href="#/login" class="btn-info btn-lg">Logout </a>
            <br />
        </div>
    </div>


    <div style="border:solid 1px; padding:30px 0 10px 0" class="container">
        <form class="form-horizontal">
            <div class="row">
                <div class="form-group col-xs-12 col-sm-6">
                    <div class="col-sm-4">
                    </div>
                    <div class="col-sm-4">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="">
                                Private
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="">
                                Live
                            </label>
                        </div>
                    </div>


                </div>
                <div class="form-group col-xs-12 col-sm-6">
                    <div class="row">
                        <label for="inputPrivateCust" class="col-sm-4 control-label">Private Customer</label>
                        <div class="col-sm-6">
                            <select ng-model="ddlCustomer" ng-options="item.CustomerName for item in customers" class="form-control">
                                <option value="" label="Select Customer Business"></option>
                            </select>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-12 col-sm-6">
                    <label for="inputEmail3" class="col-sm-4 control-label">Location Vendor</label>
                    <div class="col-sm-6">
                        <select class="form-control">
                            <option value="" disabled selected>Select Vendor</option>
                            <option>Vendor 1</option>
                            <option>Vendor 2</option>
                        </select>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
                <div class="form-group col-xs-12 col-sm-6">
                    <div class="row">
                        <label for="input2" class="col-sm-4 control-label">In the Location Store</label>
                        <div class="col-sm-6">
                            <label for="inputlbl3" class="col-sm-4 control-label"></label>
                            <input type="text" class="form-control" ng-model="StateInfo.Location" placeholder="Type">
                        </div>
                        <div class="col-sm-2">

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-12 col-sm-6">
                    <div class="row">
                        <label for="inputStreet" class="col-sm-4 control-label">Street Name</label>
                        <div class="col-sm-6">

                            <input type="text" class="form-control" ng-model="StateInfo.Street" placeholder="Type">
                        </div>
                        <div class="col-sm-2"></div>
                    </div>
                </div>
                <div class="form-group col-xs-12 col-sm-6">
                    <div class="row">
                        <label for="inputCity" class="col-sm-4 control-label">City</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" ng-model="StateInfo.City" placeholder="Type">
                        </div>
                        <div class="col-sm-2">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-12 col-sm-6">
                    <label for=" inputemail3" class="col-sm-4 control-label"> State</label>
                    <div class="col-sm-3">
                        <select class="form-control">
                            <option value="" disabled selected>Select State</option>
                            <option>State 1</option>
                            <option>State 2</option>
                            <option>N/A</option>
                        </select>
                    </div>
                    <label for="inputZip" class="col-sm-1    control-label">Zip</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" ng-model="StateInfo.Zip" placeholder="Type">
                    </div>
                </div>
                <div class="form-group col-xs-12 col-sm-6">
                    <div class="row">
                        <label for="inputCountry" class="col-sm-4 control-label">Country</label>
                        <div class="col-sm-6">
                            <select class="form-control">
                                <option value="" disabled selected>Select Country</option>
                                <option>India</option>
                                <option>US</option>
                                <option>UK</option>
                            </select>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-12 col-sm-6">
                    <label for="inputEmail3" class="col-sm-4 control-label">Trafic Type</label>
                    <div class="col-sm-6">
                        <select class="form-control">
                            <option value="" disabled selected>Select Trafic Type</option>
                            <option>1</option>
                            <option>2</option>
                            <option>N/A</option>
                        </select>
                    </div>

                </div>

            </div>
            <div class="row">
                <div class="form-group col-xs-8 col-sm-6"></div>
                <div class="form-group col-xs-8 col-sm-6">
                    <input type="button" class="btn btn-primary" value="{{saveText}}" ng-click="SaveUpdateState()" />
                    <input type="button" class="btn btn-danger" value="Clear" ng-click="cleartext()" />

                </div>
                <div class="form-group col-xs-8 col-sm-6"></div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            &nbsp;
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-12 border">
                <div class="row header" style="padding-bottom:5px">
                    <div class="col-md-1 col-sm-1 col-xs-1">
                        <b>#</b>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-2" style="word-wrap:break-word;" ng-click="sort('Location')">
                        <b>Location</b>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-2" style="word-wrap:break-word;" ng-click="sort('Country')">
                        <b>Country Name</b>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-2" style="word-wrap:break-word;" ng-click="sort('Street')">
                        <b>Street</b>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-2" style="word-wrap:break-word;" ng-click="sort('City')">
                        <b>City</b>
                    </div>
                    <div class="col-md-1 col-sm-1 col-xs-1" style="word-wrap:break-word;" ng-click="sort('State')">
                        <b>State</b>
                    </div>
                    <div class="col-md-1 col-sm-1 col-xs-1" style="word-wrap:break-word;" ng-click="sort('Zip')">
                        <b>Zip</b>
                    </div>
                    <div class="col-md-1 col-sm-1 col-xs-1">
                        <!--</div>
                        <div class="col-md-1 col-sm-1 col-xs-1">-->
                    </div>
                </div>
                <div ng-repeat="state in stateslist|orderBy:sortKey:reverse" class="row gridstyle">
                    <div class="col-md-1 col-sm-1 col-xs-1">
                        {{$index+1}}
                    </div>
                    <!--State Name-->
                    <div class="col-md-2 col-sm-2 col-xs-2" style="word-wrap:break-word;">
                        {{state.Location}}
                    </div>
                    <!--Company Name-->
                    <div class="col-md-2 col-sm-2 col-xs-2" style="word-wrap:break-word;">
                        {{state.Country}}
                    </div>
                    <!--Street-->
                    <div class="col-md-2 col-sm-2 col-xs-2" style="word-wrap:break-word;">
                        {{state.Street}}
                    </div>
                    <!--Street-->
                    <div class="col-md-2 col-sm-2 col-xs-2" style="word-wrap:break-word;">
                        {{state.City}}
                    </div>

                    <!--Street-->
                    <div class="col-md-1 col-sm-1 col-xs-1" style="word-wrap:break-word;">
                        {{state.State}}
                    </div>

                    <!--Street-->
                    <div class="col-md-1 col-sm-1 col-xs-1" style="word-wrap:break-word;">
                        {{state.Zip}}
                    </div>

                    <!--edit icon-->
                    <div class="col-md-1 col-sm-1 col-xs-1" style="padding:5px;cursor:pointer">
                        <div class="glyphicon glyphicon-edit" style="font-size:large;color:gray;margin-left:20px" ng-click="editState(state)"></div>
                        <!--</div>-->
                        <!--Delete icon-->
                        <!--<div class="col-md-1 col-sm-1 col-xs-1" style="padding:5px;cursor:pointer">-->
                        <div class="glyphicon glyphicon-trash" style="font-size:x-large;color:#f05f40;margin-left:20px" ng-click="deleteState(state)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>